@tailwind base;

@layer base {
  body {
    margin: 0;
    font-family: "Inter";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h1 {
    @apply desktop:text-50 text-black font-600 laptop:text-40 tablet:text-25 mobile:text-20;
  }

  h2 {
    @apply desktop:text-40 text-black font-600 laptop:text-36 tablet:text-22 mobile:text-16;
  }

  p {
    @apply desktop:text-20 text-black font-400 laptop:text-16 tablet:text-14;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  li {
    list-style: none;
  }
}

@tailwind components;
@tailwind utilities;
